﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/index.js"></script>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
<script type='text/javascript' src="~/js/bug.js"></script>
<script type='text/javascript'>
    new BugController({ 'minBugs': 10, 'maxBugs': 50, 'mouseOver': 'die' }),
    new SpiderController({ 'minBugs': 3, 'maxBugs': 5, 'canDie': false });
</script>
<div>
    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<script src="~/js/index.js"></script>
</body>
</html>
