﻿@model ClientDetailsViewModel
@{
    ViewBag.Title = "ChromeWidget";
}

@*<div class="col-lg-2" style="background: aqua">
    <button class="btn-success" onclick="LoadIFrameTwo('SL3+9JT')">Click Me</button>
</div>*@
<div class="col-lg-2"></div>
<div class="col-lg-10" id="mapFrameDiv">
    <iframe id="mapframe" style="border: 0; width: 100%; height: 700px; padding: 10px;"></iframe>
    @*<table style="margin: 5px; border: 1px solid green">
        <tr>
            <td>
                <iframe id="mapframe" style="border: 0; width: 100%; height: 800px;"></iframe>
            </td>
        </tr>
    </table>*@
</div>
