﻿@model ClientDetailsViewModel
@{
    ViewBag.Title = "ChromeWidget";
}

<div style="overflow-y: hidden; overflow-x: hidden; padding: 1px; border: 1px solid green">


    <div class="col-lg-12" id="mapFrameDiv">
        <iframe width="100%" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/337001523&amp;color=%232d303a&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
    </div>

</div>