﻿@model ClientDetailsViewModel
@{
    ViewBag.Title = "ChromeWidget";
}

<div style="overflow-y: hidden; overflow-x: hidden;">

    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3" style="overflow-y: hidden; overflow-x: hidden; margin: 0 0 5px 0; ">
                <img src="~/GDPR-banner-1920x100-01.png" />
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 contentArea col-side-right clearfix" style="overflow-y:auto">
            <div class="main-col">
                <div class="wysiwyg">
                    <div class="productSection" style="margin-top:0;">
                        <div class="content" style="font-size: small">

                            <h2>Why choose IRIS as your GDPR partner?</h2>
                            <p>The course is designed for any organisation that employs individuals or offers services to citizens in the UK or EU. It is aimed primarily at Accountants as the legislation is especially applicable to businesses that collect, manage, process and store personally identifiable and personally sensitive data. Whether you are a sole practitioner or part of a large firm, this course will help to prepare you for GDPR.</p>
                            <h2>What&rsquo;s included in the online training course?</h2>
                            <p>The online course consists of five 30-minute training videos that will teach you everything you need to know to prepare for GDPR.</p>
                            
                            <h3>Module 1: Background to GDPR:</h3>
                            <ul>
                                <li>A background introduction to GDPR.</li>
                                <li>Overview of data protection and personal privacy.</li>
                            </ul>

                            <h3>Module 2: Data protection:</h3>
                            <ul>
                                <li>Data protection taxonomy.</li>
                                <li>Data subject rights under GDPR.&nbsp;</li>
                                <li>Special category personal data.</li>
                            </ul>
                            
                            <h3>Module 3: GDPR Key definitions and principles:</h3>
                            <ul>
                                <li>Key differences between GDPR and the Data Protection Act 1998.</li>
                                <li>The new data protection principles.</li>
                            </ul>

                            <h3>Module 4: Key concepts of data protection law:</h3>
                            <ul>
                                <li>Data controller/processor relationship.</li>
                                <li>Information security and risk assessment.</li>
                                <li>Breach notification.</li>
                            </ul>

                            <h3>Module 5: Data protection by design and next steps</h3>
                            <ul>
                                <li>Data protection by design and default.</li>
                                <li>The statutory Data Protection Officer role.&nbsp;</li>
                                <li>Data protection the next steps and actions to take now.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6" id="mapFrameDiv" style="margin: 150px 0 0 0">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Acj3rwld-w4" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            @*<iframe id="mapframe" style="border: 1px solid blue; width: 100%; height: 500px;"></iframe>*@
        </div>
    </div>
</div>
